body {
    background-color: #000000;
    color: white;
    overflow: auto;
    font-family: 'Merriweather', serif;
}

h1, p {
    font-family: 'Inconsolata', monospace;
}



/* Hero Section */
.form-control{
    width: 80%;
}
#form-inputs{
width: 90em;
}





    /* Left section shift */
    .col-md-5 {
        padding-right: 40px;
    }

    /* Right section shift */
    .col-md-6 {
        padding-left: 30px;
    }

    /* Button hover effect */
    .hover-effect:hover {
        background-color: #0056b3 !important;
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }

    /* Input field hover effect */
    .input-hover {
        transition: 0.3s;
    }

    .input-hover:hover, .input-hover:focus {
        border-color: #007bff;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    }







.icon {
    font-size: 5rem;
    color: #007FFF;
  }
  .form-control {
    background-color: black;
    border: 1px solid #555;
    color: white;
    padding: 1.5rem;
    height: auto;
  }
  .form-control::placeholder {
    color: #888;
  }
  .btn-custom {
    background-color: #007FFF;
    color: black;
  }
  .h5, .h3 {
    line-height: 1.5;
  }


